<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 blankmac. All rights reserved.</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>UPDD Multitouch Engine</key>
		<dict>
			<key>IOClass</key>
			<string>VoodooI2CUPDDEngine</string>
			<key>CFBundleIdentifier</key>
			<string>com.alexandred.VoodooI2C</string>
			<key>IOMatchCategory</key>
			<string>VoodooI2CUPDDEngine</string>
			<key>IOProviderClass</key>
			<string>VoodooI2CMultitouchInterface</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict/>
</dict>
</plist>
